


#bag {
	position: absolute;
    width: 1060px;
    height: 616px;
    left: 115px;
    top: 130px;
    border: 1px solid #000000;
}
#bag1 {
	position: absolute;
    width: 1060px;
    height: 616px;
    left: 115px;
    top: 130px;
	background:#FFFFFF;
    border: 1px solid #000000;
}

#small_bag {
	position: absolute;
    width: 438px;
    height: 415px;
    left: 430px;
    top: 250px;
    background: #FFFFFF;
    border: 1px solid #001AFF;

background: #FFFFFF;
border: 1px solid #001AFF;
}

#small_bag2 {
	position: absolute;
    width: 438px;
    height: 482px;
    left: 430px;
    top: 192px;
	background: #000000;
	border: 1px solid #FFFFFF;
}

.hover-div-1 {
	position: absolute;
    width: 180px;
    height: 180px;
    left: 39px;
    top: 380px;
	border-radius: 180px;

background: #001AFF;
  }


.hover-div {
	
position: absolute;
width: 286px;
height: 286px;
left: 1141px;
top: 386px;
border-radius: 180px;
background: #001AFF;
  }


#notebook{
	position: absolute;
    width: 936px;
    height: 631px;
    left: 217px;
    top: 85px;
    background: #001AFF;
	

}

*
#pencilcase{
	position: absolute;
    width: 809px;
    height: 136px;
    left: 180px;
    top: 470px;
	border-radius: 180px;
    background: #001AFF;
    border: 1px solid #FFFFFF;
}

#charger{
	position: absolute;
    width: 298px;
    height: 258px;
    left: 794px;
    top: 282px;
    background: #001AFF;
    border: 1px solid #FFFFFF;
}

#wallet{
	position: absolute;
    width: 262px;
    height: 170px;
    left: 154px;
    top: 325px;
    background: #001AFF;
    border: 1px solid #FFFFFF;
}

#toothbrush{
	position: absolute;
    width: 722px;
    height: 136px;
    left: 411px;
    top: 556px;
    background: #001AFF;
    border: 1px solid #FFFFFF;
}


#triangle {
	width: 0;
    height: 0;
    border-left: 163px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 292px solid #001AFF;
    position: absolute;
    top: 341px;
    left: 479px;
}

.fixed-window + .fixed-window-1{
	position: absolute;
    top: 15px;
    right: 80px;
    width: 253px;
    height: 287px;
    background-color: white;
    border: 1px solid black;
    display: none;
    z-index: 1;
  }

  .hover-div:hover + .fixed-window + .hover-div-1:hover + .fixed-window-1 {
	display: block;
  }
  

  
  
  
  
  