* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	color: rgb(0, 4, 255);
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  18px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 50px;
}

h1, p {
	margin-bottom:  25px;
}

ul, ol {
	margin-left: 20px;
	margin-block-end: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

button{
	font-size: 1rem;
	font-weight: bold;
	border: 2px solid var(--accent-color);
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
}

body.darkmode {
	background: black;
	color: yellow;

	/*	redefine a CSS variable */
	--accent-color: rgb(0,255,0);
}

body.darkmode button{
	color: white;
	border: 2px solid yellow;

}
/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/