body {
  background-color: white;
  font-family: "Roboto Mono", monospace;
}
.widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  height: 40px;
  width: 40px;
}

.wrapper {
  margin-bottom: 40px;
  text-align: justify;
  margin: 5%;
}

.clickable-div {
  display: inline-block;
  background: #000000;
  width: 24%;
  height: fit-content;
  padding-top: 24%; /* Used instead of height to give elements fluid, width-based height */
  margin-bottom: 2.5%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.title {
  color: black;
  font-size: 18px;
  text-align: left;
  line-height: 105%;
  margin-bottom: 50px;
}

.line {
  border-top: 1px solid orange;
  margin: 15px 0px;
}

.button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-content {
  width: 80%;
  max-width: 600px;
  padding: 20px;
}

.close {
  background: none;
  color: yellow;
  font-size: 2em;
  position: fixed;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.explain {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  background-color: yellow;
}
