body {
    display: flex;
    
    background-color: white;
    font-family: 'Roboto Mono', monospace;

  }
  .widget{
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:white;
    height:40px;
    width: 40px;
  }
  
  .wrapper {
    flex-direction: left;
    width: 100vw;
    height: 100hw;
    margin: 0;
    padding: 5px 20px;
    position: relative;

  }
  
  
  .title {
    color: black;
    font-size: 18px;
    text-align: left;
    line-height: 105%;
    margin-bottom: 50px;
  }
  

  .line {
    border-top: 1px solid orange;
    margin: 15px 0px;
  }


  
  .col_two{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    
    text-shadow: 0 0 3px #aaa;
  }
  
  
  
  
  .button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:none;
    height:40px;
    width: 40px;
    cursor: pointer;
  }



.category{

  margin:0;
}

#talkDiv{
  width: 15%;
  height: 20%;
  padding: 12px;
  color: white;
  
  position: absolute;

  left:70%;
  top:0;
}

.explain{
  border: 1px solid rgb(255, 126, 35);
  padding: 10px 10px 7px 10px ;
  color: black;
  width: 290px;
  font-size: 12px;
  position: absolute;
  top: 11px;
  left: 10%;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease; /* ease 효과 추가 */
}

.title:hover + .explain {
  opacity: 1;
  
}


.col_two:hover a{
  color: #ff9046;
  text-shadow: 0 0 3px #ff9046;
}




a:link {
  text-decoration: none; /* 링크에 밑줄 제거 */
}

a{
  color: solid rgb(255, 126, 35);

}