body {
    display: flex;
    
    background-color: white;
    font-family: 'Roboto Mono', monospace;
  }
  .widget{
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:white;
    height:40px;
    width: 40px;
    
  }
  
  .wrapper {
    flex-direction: left;
    margin: 0;
    
  }
  
  .intro {
    padding: 5px 10px 10px 10px;
    position: fixed;
  }
  
  .title {
    color: black;
    font-size: 18px;
    text-align: left;
    line-height: 105%;
  }
  
  .instructions {
    font-size: 12px;
    width: 15vw;
    line-height: 140%;
  }
  
  .portfolio {
    position: absolute;
    width: 80vw;
    right: 0px;
    
  }
  
  .line {
    border-top: 1px solid orange;
    margin: 3px 0px;
  }
  
  .explanation {
    width: 100%;
    padding-bottom:3px;
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  
  .til,
  .ing {
    font-size: 12px;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    line-height: 105%;
    
  }
  
  
  
  img {
    max-width:99.5%;
    max-height: 95vh;
    margin: 0.2%;
  }

  video {
    max-width:99.5%;
    max-height: 95vh;
  }
  
.clickable-image{
  cursor: pointer;
}

  .col_two{
    width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .col_one{
    width: 100%;
    display: flex;
    
  }
  
  
  .mark{
    background-color:pink;
    }

 .button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:none;
    height:40px;
    width: 40px;
    cursor: pointer;
  }

.modal-trigger{
  cursor: pointer;
}


  .modal {
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%); /* translate(x축,y축) */
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal-content {
    position: fixed;
    display: block;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%); /* translate(x축,y축) */
    
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
  }
  
  .close {
    color:yellow;
    font-size: 2em;
    position: fixed;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }