.animated-text {
  font-size: 74px;
  top: 0;
  right: 0;
  left: auto;
  white-space: nowrap;
  animation-duration: 3s;
  animation-name: slidein;
  color: antiquewhite;
  background-color: #529c3a; /* 배경 색상 지정 */
  padding-left: 22px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

#overlay {
  display: absolute;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  text-align: center; /* 텍스트 입력 칸 가운데 정렬 */
  border-left: 10px;
}

#overlay-container span {
  display: block;
  margin-bottom: 10px;
}

#overlay-container button {
  padding: 10px 20px;
}

#overlay-text {
  pointer-events: none;
}

.fixed-marker-overlay-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 301px;
  height: 400px;
  background-color: #EEFFFE;
  box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.22);
  border-radius: 32px;
  padding: 10px;
  z-index: 9999;
}

.fixed-marker-overlay-container_2 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 301px;
  height: 400px;
  background-color: #EEFFFE;
  box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.22);
  border-radius: 32px;
  padding: 10px;
  z-index: 9999;
}

.overlay-container {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 301px;
  height: 373px;
  background-color: #EEFFFE;
  box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.22);
  border-radius: 32px;
  z-index: 999;
}
