body {
    margin: 0;
    padding: 0;
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.5em;
    overflow-x: auto; /* 가로 스크롤 가능하도록 설정 */
    overflow-y: hidden; /* 세로 스크롤 막기 */
    width: 2000px;
    height: 100hv;
    background: linear-gradient(0deg, rgba(255,238,113,1) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 72%, rgba(255,238,113,1) 100%);

  }
  .overlay {
    top: 0px;
    height: 100vh;
    
    background-color: white;
  }
  .overlay-content {
    margin: 2%;
  }
  
  .overlay-content1 {
    margin: 2%;
    width: 3000px;
  }
  
  .row-box {
    width: 46%;
    margin: 3vw;
  }
  
  .row-box-work {
    width: 40vw;
    margin: 2vw;
    font-weight: 500;
  }
  
  .name {
    font-weight: 500;
    font-size: 2.5em;
    line-height: 1.7em;
  }
  
  .close-btn {
    color: black;
    border: none;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
    position: fixed;
    right: 50px;
    
    
  
    width: 50px; /* 원하는 너비로 설정 */
    height: 80px; /* 원하는 높이로 설정 */
    padding: 1px; /* 내부 여백을 통해 크기를 더욱 키웁니다. */
  }
  
